@import '../../constants/colors.scss';
@import '../../constants/breakPoints.scss';
@import '../../constants/mixins.scss';

.imageIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageIntro__image {
  width: 350px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 5px;
  max-height: 350px;
  box-shadow: -3px 11px 52px -6px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: -3px 11px 52px -6px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: -3px 11px 52px -6px rgba(0, 0, 0, 0.49);

  @include mediaQuery($small) {
    width: 200px;
    max-height: 200px;
  }
}

.imageIntro__title {
  font-weight: 700;
  color: $darkGrey;
  margin-bottom: 15px;
}

.imageIntro__subtitle {
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px;
}
