@import '../../constants/colors.scss';
@import '../../constants/mixins.scss';
@import '../../constants/breakPoints.scss';

.about {
  width: 100%;
  display: block;
  flex-direction: column;
  line-height: 18pt;
  padding: 100px 0 130px 0;
  box-sizing: border-box;

  @include mediaQuery($small) {
    padding: 80px 0 100px 0;
  }
}
