@import '../../constants/colors.scss';
@import '../../constants/mixins.scss';
@import '../../constants/breakPoints.scss';

.home {
  background-image: url('../../assets/images/portfolioBackground.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-size: auto;
  flex-direction: column;
}

.home__title {
  font-size: 32pt;
  line-height: 36pt;
  color: $white;
  margin-bottom: 20px;

  span {
    color: $pink;
  }

  @include mediaQuery($small) {
    font-size: 16pt;
    line-height: 20pt;
  }
}

.home__button {
  @include primaryButton();
  @include mediaQuery($small) {
    font-size: 10pt;
    line-height: 20pt;
  }
}
