@import '../../constants/colors.scss';
@import '../../constants/mixins.scss';
@import '../../constants/breakPoints.scss';

.navbar_custom {
  background: #1b242f;
  border-bottom: 3px solid #04c2c9;
  position: sticky;
  top: 0;
  z-index: 50;
}

.navbar_collapse-background {
  background: #1b242f;
}
